vue/node_modules
vue/dist
release/
.idea/
.vscode/
.DS_Store
/layerd
reporterd
.hypothesis
evm/artifacts
evm/cache
evm/.deploys/
evm/contracts/*/artifacts
evm/node_modules
evm/package-lock.json
build/*
secrets.yaml
.env
/layerd_new
.cursor
e2e/dbfile/*
prod-sim/chain/bin/*

dist/

interchaintest/
heighliner/
testnet-gentx/
daemons/bin/