name: State Change Labels
on:
  pull_request:
    types: [opened, labeled, unlabeled, synchronize]
    paths-ignore:
      - 'daemons/**'
      - '.github/**'
jobs:
  label:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: mheap/github-action-required-labels@v5
        with:
          mode: exactly
          count: 1
          labels: |
            stateChange
            noStateChange
      - uses: mheap/github-action-required-labels@v5
        with:
          mode: exactly
          count: 1
          labels: |
            backport release/
